/* General purpose elements */
h1,
h2,
h3,
.h1-like,
.h2-like,
.h3-like {
  font-weight: 200;
  margin: 0;
}

h1,
.h1-like {
  font-size: 3rem;
}

h2,
.h2-like {
  font-size: 2rem;
}

h3,
.h3-like {
  font-size: 1rem;
}

.social-author {
  font-size: 2rem;
  /* TODO: Figure out what causes the extra space around the icon.
    It's neither margin or padding. 
  */
  margin-left: -0.32rem;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.underlined {
  text-decoration: underline;
}
