/* Main body */
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #474747;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas:
    "nav  nav  nav  nav  nav"
    "card card card card about"
    "ft   ft   ft   ft   ft";
}

/* Header navigation bar */
.header-nav {
  grid-area: nav;
  background: #353535;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.47);
}

.header-nav > a {
  font-weight: 200;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin: 0 1rem 0;
}

/* Content card */
.card {
  grid-area: card;
}

/* About the author */
.about {
  grid-area: about;
}

/* Footer */
footer {
  grid-area: ft;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353535;
  color: #fff;
  font-weight: 200;
}

/*
#FFF6D4
#52FF36
*/
