@import url("main.css");
@import url("fontello.css");
@import url("general.css");

/* Index body */
body {
  grid-template-columns: repeat(4, 1fr) 300px;
  grid-template-areas:
    "nav  nav  nav  nav  nav"
    "card card card card about"
    "ft   ft   ft   ft   ft";
}

/* Content card */
.index-card {
  grid-area: card;
  display: flex;
  flex-direction: column;
  background: #646262;
  box-shadow: -16px 4px 4px rgba(0, 0, 0, 0.47);
  border-radius: 0 25px 25px 0px;
  margin: 1.6rem 1.6rem 1.6rem 0;
}

.index-card__banner {
  margin: 16px 32px 0 0;
  width: 100%;
  max-height: 18vh;
}

.index-card__title {
  margin: 16px 0 0 16px;
}

.index-card__text {
  font-size: 2rem;
  font-weight: 200;
}

.index-card__button {
  align-self: flex-end;
  border-radius: 0;
  border: 0;
  font-size: 2rem;
  padding: 16px 32px 16px 100px;
  color: #fff;
  background-color: #c71ecb;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: 25px;
  text-decoration: none;
}

/* About the author */
.sidebar {
  grid-area: about;
  background: #52ff36;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar * {
  color: black;
}

.avatar {
  align-self: flex-end;
}

.latest-posts {
  margin-top: auto;
  margin-bottom: auto;
}

.latest-posts__list {
  margin-top: 0.5rem;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}

/* Mobile */
@media (max-width: 700px) {
  /* Main body */
  body {
    grid-template-columns: 100vw;
    grid-template-areas:
      "nav"
      "card"
      "about"
      "ft";
  }

  /* Content card */
  .index-card {
    margin: 0.8rem 0.8rem 0.8rem 0;
  }

  /* About the author */
  .sidebar {
    border-radius: 25px 0 0 25px;
    margin: 0 0 0.8rem 0.8rem;
  }

  .avatar {
    align-self: flex-start;
  }

  .latest-posts {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
