/* Main body without grid-areas*/
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  color: #fff;
  background: #474747;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 4rem 1fr min-content;
  overflow-x: hidden;
}

/* Header navigation bar */
.header-nav {
  grid-area: nav;
  background: #353535;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);
  z-index: 2;
}

.header-nav__list {
  list-style: none;
  padding: 0;
}

.header-nav__item {
  display: inline;
}

.header-nav__link {
  font-weight: 200;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin: 0 1rem 0;
}

/* Footer */
footer {
  grid-area: ft;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #353535;
  color: #fff;
  font-weight: 200;
  padding: 0.25rem;
}

/* Mobile */
@media (max-width: 700px) {
  body {
    grid-template-rows: 4rem repeat(3, min-content);
  }
}

/* Bigger desktops */
@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
